*{
    margin: 0;
    padding: 0;
}
html{
}
body {
    width: 100%;
    margin: 0 auto;
}
.container{
    width: 100%;
    position: relative;
    overflow: hidden;
}
header {
    width: 100%;
    background-color: #55d6aa;
    background-size: cover;
    overflow: auto;
    padding: 5px 0;
}
.header-container{
    width: 80%;
    margin: 0 auto;
}
.bars{
    width: 30px;
    background-color: #55d6aa;
    float: left;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.bars>div{
    width:100%;
    height: 5px;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 2px;
}
nav{
    float: right;
    margin-top: 15px;
}
nav ul {
    list-style: none;
}
nav>ul>li{
    display: inline;
    margin-left:30px;
}
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

#bar-2, #bar-3 {
    margin-top: 5px;
}
.side-bar{
    position: fixed;
    left: -240px;
    background-color: #3f3f3f;
    width:240px;
    height: 100%;
    box-sizing: border-box;
    transition: left ease-in-out 350ms;
}
.side-bar ul{
    list-style: none;
    margin-left: 25px;
}
.side-bar>ul>li{
    margin-top: 30px;
}
.side-bar a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: whitesmoke;
}

.image{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 15px;
    border: 1px solid white;
    overflow: hidden;
    float: right;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
#name-of-account {
    margin: 105px 0 0 42%;
    font-size: 25px;
}
button{
    width: 150px;
    padding:10px;
    background-color: #4bc970;
    margin-left: 45%;
    font-size: 15px;
    text-align: center;
    font-style: normal;
    border: 1px solid #3ac162;
    color: white;
    margin-top: 5px;
    cursor: pointer;
}
.table{
    margin-left: 35%;
    margin-top: 20px;
    display: none;
}
table{
    border-spacing: 10px 15px;
}
th{
    text-align: left;
    background-color: #a9a9a9;
    border-collapse: collapse;
}
tr{

}
tr:nth-child(odd) {
    background-color: #72ff8b;
}
@media screen and (min-width: 480px){

}