*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #4bc970;
}
body {
    width: 960px;
    margin: 0 auto;
}

.container{
    overflow: hidden;
}
header{
    height: 100px;
    background-color: #666666;
    text-align: center;
    color: white;
}
header>p{
    font-size: 2em;
    font-family: "Arial Black";
}

.accounts-list{
    width: 560px;
    float: left
}
.customer-details{
    background-color: #f4f7f8;
    width: 360px;
    padding: 10px 20px;
    float:left;
}
.account-details {
    overflow: hidden;
}

.details >div {
}
.details{
}
.balances {
}
.balances{
    width: 200px;
    float: left;
}
.balances>div{
    height: 20px;
    background-color: #b7bdbe;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.available-balance{

}
.text{
    float: left;
}
.value{
    float: right;
}
.image{
    width: 90px;
    height: 90px;
    background-color: gray;
    float: left;
    overflow: hidden;
    border-radius: 45px;
    margin-left: 40px;
    border: 1px solid #b7bdbe;

}
img{
    display: block;
    width: 100%;
    height: 100%;
}
.btn{
    width: 120px;
    height: 40px;
    padding: 10px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    margin:10px 0 0 30px;
    text-align: center;
    border-radius: 10px;
}
.btn:focus{
    outline: none;
}
.btn:active{
    border: 1px solid green;
}
#view-record-btn{
    background-color: #4f4f9b;
}
#deactivate-btn{
    background-color: #108815;
}
#delete-btn{
    background-color: red;
}

#name {
        font-size: 20px;
}
table{
    border-spacing: 10px 15px;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border-bottom: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #b7bdbe;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: white;
}
tr{
    cursor: pointer;
}
